body{
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    color: whitesmoke;
    background-color: #2b2b2b;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    max-height: auto;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #2b2b2b;
    padding: 2.5vh 0 2.5vh 0;
    margin-bottom: 2.5vh;
}

header h1{
    margin: 0;
}


nav {
    float: left;
    width: 20%;
    max-width: 20%;
    overflow: hidden;
}


nav ul{
    list-style-type: none;
    padding: 1vw;
    margin: 0;
}

nav ul li{

}

nav ul li ul{
    padding: 0;
    display: none;     /* transition doesn't work with display & visibility values, therefore you have to do it with the opacity:*/
                        /*transition: all 0.5s linear; */
}

nav ul li:hover ul{
    display: block;
}

main{
    width: 79%;
    float: left;
    border-left: 1px solid black;
    overflow: auto;
}

main article{
    padding-left: 2vw;
    padding-right: 2vw;
}


footer{
    text-align: center;
    clear: both;
    border-top: 1px solid black;
    margin-top: 2.5vh;
    background-color: #2b2b2b;
}

footer p {
    display: inline-block;
    width: 30%;

}

.block-for-footer-margin{
    clear: both;
    width: 100%;
}

a:visited{
    color: darkblue;
}

a:link{
    color:#040d5e;
}

main h1,h2{
    padding: 0.5vw;
    display: inline-block;
    background-color: rgb(55, 55, 55);
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;
}

#main-blocks{
    background-color: #424242;
}

